body {
    background-image: url('src\assets\Fotos\tokyo AI.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .card-body {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
  }
  
  .list-group-item {
    background-color: rgb(255, 255, 255); /* Match the main card transparency */
    border: none; /* Remove the border for consistency */
  }

.list-group-item span {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #929292; /* Greyish color */
  }


.edit-icon {
    padding-right: 8px;
  }
  
.edit-input {
    border: none;
    padding: 4px;
    width: 70%;
    margin-right: 10px;
  }